* {
  margin: 0;
  padding: 0;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main {
  width: 100%;
  height: 100vh;
}
.glow{
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.9);
}

:root {
  --primary: #1B2021;
  --secondary: #51513D;
  --tertiary: #A6A867;
  --third: #E3DC95;
  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
}
body {
  background-color:var(--primary)
}

/* Header Styling */
.header-ul {
  display: flex;
  flex-wrap: wrap;
    margin: 1vw auto;
  align-items: center;
  justify-content: space-evenly;
}
.avatar {
  border-radius: 50px;
  width: 25%;
  height: 30%;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.925); 
  border: 1px solid white;
  align-items: center;
  margin-left: 10%;
}
nav ul {
  list-style: none;
  font-size: 1.60vw;
  color: var(--third);
  display: flex;
  align-items: center; 
}

nav li {
  margin: 1vw;
  width:50%;
}
nav {
  background-color: rgba(27, 32, 33, 0.5);
  padding: 2px; 
  position: fixed; 
  width: 100%; 
  z-index: 1111;
  top:0;
  border-bottom: var(--secondary) 2px solid;
 }

 .ad {
  color: white;
  font-size: 1.0vw;
  flex-direction: column;
 }

/* Hide Nav Bar*/ 
.hidden-nav {
display:none;
}
nav li:hover {
  color: var(--secondary);
  cursor: pointer;
}

/* Moving back-ground*/
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:  rgb(255, 255, 255);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
}

/* Typing effect styles*/
.typeEffect {
  font-size: 2.5vw;
}

/* Form */
.form-heading {
  margin: 11% 0 0 0; 
  font-size: 4vw;
  color: var(--tertiary);
}

.contact-form {
  display:flex;
  justify-content: center;
  align-items: center; 
  height: 100%; 
  flex-direction: column;
}

form {
  width: 80%;
  max-width: 30%; 
  margin: 1% auto 5% ; 
  padding: 20px;
  background-color: var(--darker);
  border: 1px solid #ccc;
  border-radius: 40px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.925); 
}
/* Form labels */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  color: #ffffff;
}
/* Input fields */
input[type="text"],
input[type="email"],
textarea {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
textarea {
  resize: vertical; 
}
/* Submit button */
button[type="submit"] {
  background-color: var(--tertiary);
  color: #fff; /* Text color */
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
/* Submit button on hover */
button[type="submit"]:hover {
  background-color: var(--secondary);
}
/* Error message */
.error-text {
  color: #ff0000; /* Red color for error messages */
  margin: 5px 0 ;
}

/* About Me section*/
.content0{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1.5vw 0;
}
.content1, .content2 {
  width: 40%;
  border: 1px solid silver;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.9);
  position: relative;
  height: 50%;
  align-items: center;
  color: var(--light);
  font-size: 1.5vw;
} 
.content0 h1{
  font-size: 3vw;
}
.content1 h3 {
  color: var(--third);
}
.content2 {
  text-align: center;
  width: 10%;
  height: 50%;
}
.Me {
  height: 80%;
  width: 25vw;
  border-radius: 300px;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.9);
}
.content0 div {
  padding: 2vw;
  background-color: rgba(27, 32, 33, 0.8);
  z-index: 1000; 
}
.content0 h3 {
  margin-bottom: 1vw;
}
.content0 p {
  font-size: 1.0vw;
  line-height: 1.8vw;
}
.github-icon{
  height: 5vw;
  width: 5vw;
}
.space {
  display: flex;
  align-items: center;
}
.content1 span {
  color:white;
}

/* Icons*/
.icons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.github i {
height: 30px;
}
.icon-size {
  height: 3vw;
  width: 3vw;
  margin: 1.5%;
}
.icon-html {
  color: orange;
}
.icon-css {
  color: rgb(3, 109, 145);
}
.icon-js {
  color:rgb(235, 235, 34);
}
.icon-node {
  color: green;
}
.icon-ex {
  color:#fafafa;
}
.icon-sql {
  color:aqua;
}
.icon-react {
  color:cornflowerblue;
}

/*Footer Styles */
.footer {
  background-color: var(--secondary);
  width: 100%;
  padding: 1% 0;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
  border-top: 1px  black dashed;
  position: relative;
  left: 0;
  bottom: 0; 
  margin-top: 5%;
}
.footer a {
  text-decoration: none;
}
.socials p {
  font-size: 1vw;
  color: #fafafa;
}
.socials span {
  font-size: .8vw;
}
.icon-sizes {
  width:3vw;
  height:3vw;
 
}
.socials {
  display: flex;
  justify-content: space-around;
  width:100%;
}
.linkdn {
  color: rgb(0, 74, 170);
  background-color: #fafafa;
}
.github {
  color: #000000;
}

/* Portfolio Section */
.image-container {
  display:inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  width: 50%; 
  margin: 1% auto;
}
.image-placeholder {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #000000; 
  color: #333; 
  font-size: 24px; 
  padding: 16px; 
  border: 2px dashed #ffffff; 
  height: 100%;
  width: 60%;
  margin: 1%;
  border-radius: 40px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
  position: relative;
  overflow: hidden;
}
.image-placeholder img {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid white;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
  position: relative;
  overflow: hidden;
}
.cover-image {
  transition: transform 0.1s ease-in-out;
}
.cover-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.cover-text {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: #ffffff; 
  font-weight: bold;
  font-size: 2.8vw; 
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  width: 85%;
}
.cover-text p {
  font-size: 1.2vw;
}
.project-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.9s ease-in-out;
  width: 100%;
  height: auto;
}
.image-placeholder:hover .cover-image {
  transform: scale(1.1);
}
.image-placeholder:hover .cover-background,
.image-placeholder:hover .cover-text {
  opacity: 0;
}
.image-placeholder:hover .project-image {
  opacity: 1;
}

/*resume section */
.project-title {
  display: flex;
  color: var(--tertiary);
  margin: 12% auto 1%;
  justify-content: center;
  font-size: 4vw;
  margin-bottom: 3%;
}
.resume {
  width:20%;
  height: 40%;
  margin: 2.5% auto;
  display: flex;
  justify-content: center;
}
.center {
  text-align: center;
  color: var(--tertiary);
  font-size: 1.5vw;
}
a {
  text-decoration:none;
}
/* form */

 /* Screen Sizes*/
 @media screen and (max-width: 1368px) {
  .ad {
    color: white;
    font-size: 1.0vw;
    flex-direction: column;
   }
  nav li {
    font-size: 2.3vw;
  }
  .contact-form {
    margin-bottom: 7vw;
  }
  .center {
    margin-bottom: 12vw;
  }
  
 }
 @media screen and (max-width: 1280px) {
  .center {
    margin-bottom: 8vw;
  }
 }
 .sub-menu li a {
  font-size: 2vw;
}
 @media screen and (max-width: 1024px) {
nav li {
  font-size: 2vw;
}
.center {
  margin-bottom: 4vw;
}
form {
  max-width: 50%;
 }
}
@media screen and (max-width: 912px) {
  /* navigation */
  .avatar{
    width:80%;
    height:80%;
    margin-top: 3%;
  }
  .no-border {
    border-bottom: none;
  }
  .nav {
    border-bottom: 2px var(--secondary) solid;
  }
  nav ul {
    display: flex;
    width: 25%;
    flex-direction: column;
    margin: 0 auto;
  }
  nav li {
    font-size:5vw;
    display:flex;
    margin-bottom: 5%;
    width: 100%;
    justify-content: center;
    border-bottom: var(--secondary) 1px solid;
    }
  .project-title  {
    margin: 75vw 0 5vw 0;
    font-size: 8.5vw;
    }

  /* type effect */
  .typeEffect {
    font-size:7vw;
    width: 80%;
    text-align: center;
  }

  /* about me */
  .aboutME h1 {
    font-size:9vw;
  }
  .Me {
    height:50%;
    width: 60%;
    margin:0 20%;
    border-radius: 100%;
    box-shadow: 0 0 9px rgba(255, 255, 255, 0.9);
  }
  .icon-sizes {
    width: 10vw;
    height: 10vw;
  }
  .content0 {
    width: 100%;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    align-items: center;
  }
  .content00, .content1, .content2 {
    margin: 3% auto;
  }
  .content1 {
    width: 80%;
    height:100%;
  }
  .content1 h1, .content2 {
    font-size: 5.5vw;
  }
  .content1 h3 {
    font-size: 4.5vw;
  }
  .content1 p {
    font-size: 3vw;
    line-height: 1.8;
  }
  .content2 {
    text-align: center;
    width: 80%; 
  }
  .icons {
    flex-direction: row;
    justify-content: space-between;
  }
  .icon-size {
    width: 9vw;
    height:9vw;
  }
  .socials p {
    font-size: 3vw;
  }
  .socials span {
    font-size: 2.5vw;
  }
  /* footer */
  .footer {
    padding: 8% 0 ;
    margin: 0;
  }
   
/* Projects */
  .image-container {
    margin: 3% auto 7%;
    display:flex;
    width: 100%;
  }
  .cover-text {
    font-size: 5vw;
  }
  .cover-text p {
    font-size: 3vw;
  }
  /* Contact secion */
  #contact-form {
  max-width: none;
}
  /* resume */
  .resume {
    width:50%;
  }
  .center {
    font-size: 4vw;
    margin-bottom: 41vw;
  }
  .sub-menu li a {
    font-size: 5vw;
    margin: 5.5vw 0 3.5vw 0;
  }
}
@media screen and (max-width: 412px) {
  .center {
    margin-bottom: 59vw;
  }
  #contact-form {
    max-width: 70%;
    margin-bottom: 13vw;
  }
.sub-menu li a {
  font-size: 5vw;
  margin: 5.5vw 0 3.5vw 0;
}
}


